@keyframes zoom-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li { list-style: none; }
button[type="button"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hover {
    transition: all .5s ease-in-out;
    &:hover {
        filter: saturate(200%);
    }
}


#index {
    .pic {
        position: absolute;
        max-height: 100vh;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: zoom-in 2s linear forwards;
    }
    .text {
        position: absolute;
        width: 30vw;
        left: 15%;
        top: 5vh;
    }
    .menu {
        position: absolute;
        width: 12vw;
        right: 25vw;
        top: 50%;
        transform: translateY(-50%);
        img { width: 100%; }
        opacity: 0;
        animation: zoom-in 1.7s linear .5s forwards;
    }
}


body:not(#index) {
    background-size: cover;
    position: relative;
    .menu {
        position: absolute;
        width: 40vw;
        top: 2vh;
        left: 33.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>li { width: 23.5%; }
        &>li:last-child img:not(.active) { max-height: 2.5vw; }
        img { 
            width: 100%; 
        }
        
    }
    .selectbar {
        position: absolute;
        top: 16vw;
        left: 21vw;
        img { width: 7.45vw; }
    }
    .list-group img { width: 7.45vw; }
    .selectbar, .list-group {
        .active { filter: saturate(150%); }
    }
    .text {
        position: absolute;
        width: 9vw;
        top: 2vh;
        left: 20vw;
    }
    .pic {
        position: absolute;
        left: 20vw;
    }
    .border-line, .swiper-size {
        position: absolute;
    }
    .swiper-size .swiper-wrapper {
        div:not(.swiper-slide-visible) { opacity: 0!important; }
    }
}

#campus {
    background-image: url(img/BG.png);
    .pic {
        top: 22vw;
    }
    .border-line {
        width: 43vw;
        left: 33.5vw;
        top: 6.5vw;
    }
    .swiper-size {
        width: 43vw;
        left: 33.5vw;
        top: 7.5vw;
        .swiper-wrapper img{
            width: auto;
            max-height: 27vw!important;
            margin: 0 auto;
        }
    }
}

#book {
    background-image: url(img/BG.png);
    .pic {
        top: 18vw;
    }
    .border-line {
        width: 42.5vw;
        left: 32.7vw;
        top: 6.5vw;
    }
    .swiper-size {
        width: 41vw;
        left: 33.5vw;
        top: 7vw;
        .swiper-wrapper img{
            // width: auto;
            margin: 0 auto;
        }
    }
}

#video {
    background-image: url(img/BG.png);
    .pic {
        top: 18vw;
    }
    .border-line {
        width: 43vw;
        left: 32.7vw;
        top: 6.5vw;
    }
    video {
        position: absolute;
        width: 41vw;
        left: 33.5vw;
        top: 9vw;
    }
}

#photos {
    background-image: url(img/photos_BG.png);
    background-size: 105vw!important;
    background-position: 0 0;
    .border-line {
        width: 42vw;
        left: 32.7vw;
        top: 8.5vw;
    }
    .btn-personal {
        position: absolute;
        top: 5.1vw;
        left: 45vw;
    }
    .btn-team {
        position: absolute;
        top: 5vw;
        left: 53vw;
    }
    .class-name {
        position: absolute;
        top: 5vw;
        left: 34vw;
    }
    
    .swiper-size {
        width: 41vw;
        left: 33vw;
        top: 9vw;

        .mySwiper2, .mySwiper4 {
            img {
                width: auto;
                max-height: 27vw!important;
                margin: 0 auto;
            }
            .swiper-button-next { right: -4vw; }
            .swiper-button-prev { left: -4vw; }
        }
        .mySwiper, .mySwiper3 {
            margin-top: 2rem;
            margin-left: -4vw;
            height: 20%;
            width: 50vw;
            box-sizing: border-box;
            padding: 10px 5vw;
            overflow: hidden;
            .swiper-button-next {
                right: 2vw;
                top: 65%;
            }
            .swiper-button-prev {
                left: 2vw;
                top: 65%;
            }
            .swiper-slide:not(.swiper-slide-visible) { visibility: hidden; }
            .swiper-slide {
                opacity: 0.8;
                border: 1px solid #46beb7;
                img { 
                    width: auto;
                    max-width: 100%;
                    max-height: 5vw;
                    margin: 0 auto;
                }
            }
            .swiper-slide-thumb-active { opacity: 1; }
        }
    }
}
